<div class="col-12 col-md-4 order-1 order-md-2 purpose-text ">
    <h5 style="color:red;"><strong>OUR PURPOSE</strong> AND <strong>VISION</strong></h5>
    <br>
    <p><em>Leaders who serve and influence our community need a trusted partner who believes in their mission and can co-create venues to achieve it. It’s why we exist. Our vision is to be known as the outdoor recreation leader that advocates for the foundation of a happier, healthier community. We want to provide our communities with a place to play in venues we’ve helped build.</em></p>
    <br>
    <h5 style="color:red;"><strong>CORE VALUES</strong></h5>
    <p><em>Honesty - Integrity - Work Ethic - Respect - Accountability</em></p>
    <hr>
</div>